<main class="main">


  <div class="content">

    <app-app-header></app-app-header>
    <section class=" bg-blue-100 p-5 overflow-x-auto">

      <app-kanban-board></app-kanban-board>
    </section>
    <app-task-modal *ngIf="modalService.taskModal"></app-task-modal>
    <app-delete-modal *ngIf="modalService.deleteTaskModal"></app-delete-modal>
    <app-create-modal *ngIf="modalService.createTaskModal"></app-create-modal>
    <app-edit-modal *ngIf="modalService.editTaskModal"></app-edit-modal>
  </div>
</main>



<router-outlet />