
<div class="kanban-board flex gap-2" cdkDropListGroup>
    <div class="kanban-column" id="openTasks" cdkDropList [cdkDropListData]="openTasks" (cdkDropListDropped)="drop($event)">
      <h2 class="flex gap-3 uppercase text-gray-700 font-semibold">Open <span class="text-xs rounded-full py-1 px-2 text-white bg-gray-700">{{ openTasks.length }}</span></h2>
      <div class="kanban-task" *ngFor="let task of openTasks" cdkDrag>
        <app-task [task]="task"></app-task>
      </div>
    </div>
  
    <div class="kanban-column" id="pendingTasks" cdkDropList [cdkDropListData]="pendingTasks" (cdkDropListDropped)="drop($event)">
      <h2 class="flex gap-3 uppercase text-blue-700 font-semibold">Pending <span class="text-xs rounded-full py-1 px-2 text-white bg-blue-700">{{ pendingTasks.length }}</span></h2>
      <div class="kanban-task" *ngFor="let task of pendingTasks" cdkDrag>
        <app-task [task]="task"></app-task>
      </div>
    </div>
  
    <div class="kanban-column" id="inProgressTasks" cdkDropList [cdkDropListData]="inProgressTasks" (cdkDropListDropped)="drop($event)">
      <h2 class="flex gap-3 uppercase text-yellow-500 font-semibold">In Progress - <span class="text-xs rounded-full py-1 px-2 text-white bg-yellow-500">{{inProgressTasks.length}}</span></h2>
      <div class="kanban-task" *ngFor="let task of inProgressTasks" cdkDrag>
        <app-task [task]="task"></app-task>
      </div>
    </div>
  
    <div class="kanban-column" id="completedTasks" cdkDropList [cdkDropListData]="completedTasks" (cdkDropListDropped)="drop($event)">
      <h2 class="flex gap-3 uppercase text-green-700 font-semibold">Complete <span class="text-xs rounded-full py-1 px-2 text-white bg-green-700">{{completedTasks.length}}</span></h2>
      <div class="kanban-task" *ngFor="let task of completedTasks" cdkDrag>
        <app-task [task]="task"></app-task>
      </div>
    </div>
  </div>
